{:{{name}}.component/http {:port #long #or [#env PORT 3000]
                       :handler #ig/ref :{{name}}.component/endpoint}
 :{{name}}.component/routes ["" [["/" :{{name}}.handler.health/index]
                                 ["/api"
                                  [["/dogs"
                                    [[:post :{{name}}.handler.dog/create]]]]]
                                 [true :{{name}}.handler.not-found/index]]]
 :{{name}}.component/logger {:level #profile {:default :info
                                              :dev :debug}}
 :{{name}}.component/endpoint
 {:middleware #ig/ref :{{name}}.component/middleware
  :routes #ig/ref :{{name}}.component/routes
  :handlers {:{{name}}.handler.health/index #ig/ref :{{name}}.handler.health/index
             :{{name}}.handler.dog/create #ig/ref :{{name}}.handler.dog/create
             :{{name}}.handler.not-found/index #ig/ref :{{name}}.handler.not-found/index}}
 :{{name}}.component/middleware {:logger #ig/ref :{{name}}.component/logger
                                 :dev? #profile {:dfault false :dev true}}
 ;; Handlers
 :{{name}}.handler.health/index {}
 :{{name}}.handler.dog/create {:db #ig/ref :duct.database.sql/hikaricp
                               :routes #ig/ref :{{name}}.component/routes}
 :{{name}}.handler.not-found/index {}
 ;; Databases
 :duct.database.sql/hikaricp {:jdbc-url #or [#env JDBC_URL "jdbc:postgresql://127.0.0.1:5433/app"]
                              :username #or [#env USERNAME "app"]
                              :password #or [#env PASSWORD "p@ssw0rd"]
                              :stringtype "unspecified"}
 :duct.migrator/ragtime {:database #ig/ref :duct.database.sql/hikaricp
                         :strategy #profile {:default :raise-error
                                             :dev :rebase}
                         :migrations [#ig/ref :{{name}}.migration/create-dogs]}
 ;; Migrations
 [:duct.migrator.ragtime/sql :{{name}}.migration/create-dogs]
 #migration ["migrations/create_dogs"]}
